.task1__span {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

/*
  Какая ширина элемента будет при
  box-sizing: content-box/border-box?

  Какой box-sizing лучше применять?
*/
.task2__div {
  box-sizing: content-box;
  width: 200px;
  border: 2px solid red;
  padding: 5px;
  margin: 5px;
}

/*
  Почему по краям документа белые полосы?
  Как их убрать?

  Что такое reset.css?
*/
.task3__main {
  height: 100vh;
  background-color: black;
}

/*
  Какое суммарное расстояние будет между верхним
  и нижним блоками? Как исправить ситуацию? (С доп. разметкой)
*/

.task5-1 > div {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}

.task5-1__upper {
  margin-bottom: 40px;
}

.task5-1__lower {
  margin-top: 40px;
}

/*
  Какое суммарное расстояние будет между верхним
  и нижним блоками? Как исправить ситуацию? (С/Без доп. разметки)
*/

.task5-2 > div {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}

.task5-2__upper {
  margin-bottom: 40px;
  border: 1px solid transparent;
}

.task5-2__lower {
  margin-top: 40px;
}